
@{
    ViewBag.Title = "Index";
}
    <
        <img src="~/Images/original.jpg" class="img-fluid" alt="Responsive image" style="max-height: 100%;">
    

<div class="container">
    <h1 class="title">Healthcare Product Management Trends for 2020</h1>
    <h2 class="subtitle">
        কোভিড-১৯ প্রতিরোধে ভয় নয়, সচেতনতায় হবে জয়...
         এগিয়ে আসি মানবতার সাথে,ভালবাসার সাথে...
    </h2>
</div>


